@import './SCSS/config.scss';
@import './SCSS/tags.scss';
@import './SCSS/bootstrap.scss';
@import './SCSS/inputs.scss';
@import './SCSS/loaders.scss';

.container {
  width: 50%;
  margin: 0 auto;
  padding-top: 30px;
}
#grid {
  .row {
    border: 2px solid $warning;
    box-sizing: content-box;
  }
  .col {
    background: pink;
    outline: 1px solid red;
  }
}

#inputs {
  & > .row {
    height: 105px;
  }
}
