@import './SCSS/config.scss';
@import './SCSS/animations.scss';
@import './SCSS/tags.scss';
@import './SCSS/bootstrap.scss';
// @import './SCSS/inputs.scss';

.container {
  width: 95vw;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 30px;
  // svg {
  //   border: 1px solid #fff4;
  // }
  & > div {
    border: 1px solid white;
  }
  & .svg {
    // color: red;
    font-size: 24px;
  }
}
