.input {
  background: black;
  position: relative;
  display: inline-table;
  margin: $padding / 2;
  color: $texth;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  width: $in-w;
  & label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translate($padding * 1.5, 12px) scale(1);
    transform-origin: top left;
    transition: color $timer/2 cubic-bezier(0, 0, 0.2, 1) 0ms, transform $timer/2 cubic-bezier(0, 0, 0.2, 1) 0ms;
    pointer-events: none;
  }
  & input {
    background: darkgreen;
    flex-grow: 1;
    min-width: 30px;
    padding: $padding / 2;
    &:focus ~,
    &:valid ~ {
      label {
        transform: translate(14px, -6px) scale(0.75);
        color: $brand;
      }
      fieldset {
        border-color: $brand;
        border-width: 2px;
        legend {
          max-width: 1000px;
          transition: max-width $timer/3 cubic-bezier(0, 0, 0.2, 1) $timer/6;
        }
      }
    }
  }
  & fieldset {
    @extend %absolute;
    top: -5px;
    padding: 0 8px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-radius: inherit;
    pointer-events: none;
    & legend {
      width: auto;
      height: 11px;
      display: block;
      padding: 0;
      font-size: 0.75em;
      max-width: 0.01px;
      text-align: left;
      transition: max-width $timer/6 cubic-bezier(0, 0, 0.2, 1) 0ms;
      visibility: hidden;
      & > span {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        pointer-events: none;
      }
    }
  }
  &-root {
    position: relative;
    min-width: 100%;
    display: inline-flex;
    align-items: center;
    padding: $padding / 2;
    cursor: text;
    border-radius: $radius;
    // vertical-align: top;
    &.icon {
      padding-left: 32px + $padding/ 2;
    }
    &.btns-one {
      padding-right: 32px + $padding/ 2;
    }
    &.btns-two {
      padding-right: 32px * 2 + $padding/ 2;
    }
  }
  &-icon {
    position: absolute;
    top: calc(50% - 16px);
    left: $padding / 2;
    background: red;
    width: 2em !important;
    height: 2em !important;
    padding: 2px !important;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
  }
  &-btns {
    position: absolute;
    top: calc(50% - 16px);
    right: $padding / 2;
    display: flex;
    background: red;
    & > * {
      transition: opacity $timer;
    }
    &-x {
      opacity: 0;
    }
    &-m rotate {
      transform: rotate(180deg);
    }
    svg {
      margin: 0 !important;
      display: inline-block;
      width: 1em;
      height: 1em;
      font-size: 1.5rem;
      user-select: none;
    }
  }
  &-choices {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 40vh;
    margin-top: 4px;
    padding: 8px 0;
    border-radius: 4px;
    overflow: auto;
    background-color: $footer;
    & > * {
      display: flex;
      align-items: center;
      min-height: auto;
      padding: 6px 16px;
      font-size: 1rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 1.5;
      cursor: pointer;
      &:hover {
        background-color: rgba($texth, 0.06);
      }
      &.active {
        background-color: rgba($texth, 0.16);
      }
    }
  }
  &:hover {
    .input-btns {
      &-x {
        opacity: 1;
      }
    }
    fieldset {
      border-color: $texth;
    }
  }
}
