@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
    border-left-color: transparent;
  }
  100% {
    transform: rotate(360deg);
    border-left-color: transparent;
  }
}
@keyframes loading-dots {
  0%,
  80%,
  100% {
    box-shadow: 0 1em 0 -1em;
  }
  40% {
    box-shadow: 0 1em 0 0;
  }
}

.loader {
  position: relative;
  margin: 0 auto;
  display: inline-flex;
  &,
  &::before,
  &::after {
    border-radius: 50%;
    // width: 1em;
    // height: 1em;
  }
  &::before,
  &::after {
    @extend %absolute;
  }
  &-shadow {
    &,
    &::after {
      width: 1.5em;
      height: 1.5em;
    }
    & {
      box-shadow: 0px 0px 0.25em $brand, inset 0px 0px 0.25em $brand;
    }
    &::after {
      box-shadow: -0.04em 0px 0.1em $texth, inset 0.04em 0px 0.1em $texth;
      animation: loading-spin 2s infinite linear;
    }
  }
  &-dots {
    &,
    &:before,
    &:after {
      animation: loading-dots 1.8s infinite ease-in-out;
      width: 0.9em;
      height: 0.9em;
    }
    & {
      animation-delay: -0.16s;
    }
    &:before {
      left: -1.2em;
      animation-delay: -0.32s;
    }
    &:after {
      left: 1.2em;
    }
  }
  &-spinner {
    animation: 4s spin-svg-a infinite linear, 3s spin-svg-o infinite linear;
    svg {
      width: 1.2em;
      height: 1.2em;
    }
  }
}

// .loader {
//   width: 20em;
//   height: 20em;
//   background-color: transparent;
//   background-image: url('data:image/svg+xml,\
// <svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -20 40 40">\
// <style> /* ...YO DAWG... */ circle { animation: 4s a infinite linear, 3s o infinite linear; }\
// @keyframes a {from{stroke-dasharray:100 0}50%25{stroke-dasharray:0 100}to{stroke-dasharray:100 0}}\
// @keyframes o {from{stroke-dashoffset:75}to{stroke-dashoffset:375}}\
// <%2Fstyle><circle r="15.9154943092" stroke-width="7" fill="none" stroke="snow" />\
// </svg>');
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: 50vmin;
// }
